<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Agenda Cultural
      </ion-title>
      <ion-buttons end *ngIf="!(authService.user | async)">
        <button ion-button (click)="openPage(HomePage)" >
          <ion-icon ios="ios-log-in" md="md-log-in"></ion-icon>
          Iniciar Sesión
        </button>
      </ion-buttons>
      <ion-buttons end *ngIf="authService.user | async">
        <button ion-button (click)="logout()" >
          <ion-icon ios="ios-log-out" md="md-log-out"></ion-icon>
          Salir
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
   
  <ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <ion-item *ngFor="let item of items">
        {{ item }}
      </ion-item>
    </ion-list>
  </ion-content>
